body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2 {
	margin:0
}
.box{
	padding:1em;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 20px -8px #333;
	width:calc(100vw - 1em);
	max-width:50em;
	float: left;
	margin: 1em;
	box-sizing: border-box;
}
#chart{
	width:100%;
	text-align: center;
}
label{
	font-weight:bold;
	font-size: 1.5em;
	margin-bottom: -1em;
	display: block;
}
@media only screen and (max-device-width: 736px){
	.box {
		margin:1em 0;
	}
}